<div class="container inner">
  {{#each photos}}
      <img class= "images" src={{image}} alt={{name}}>
      <h3 class="text">Title: {{title}}</h3> 
      <h3 class="text">Year: {{year}}</h3>
      <h3 class="text">Rating: {{>commentForm}}</h3>
      <h3 class="text">Likes: {{likes}}</h3>
      <h3 class="text">Dislikes: {{dislikes}}</h3>
  {{/each}}
</div>