<div class="container inner">
  {{#each photos}}
    <div>
      <img class= "images" src={{image}} alt={{name}}>
      <div>
        <h3 class="titles">{{title}} ({{year}})</h3> 
        <div class="ratings-section">
          <h3 class="text">Likes {{likes}} | Dislikes {{dislikes}}</h3>
          <h3 class="text">{{>commentForm}}</h3>
        </div>
      </div>
    </div>
  {{/each}}
</div>